#mineField .cell {
    cursor: pointer;
    text-align: center;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    background-color: lightgray;
}

#mineField .row {
    clear: both;
}

#mineField .js-bomb {
    background-color: red;
    color: red;
    border-radius: 4px;
}

#mineField .js-undiscovered {
    background-color: white;
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

#mineField .js-flag {
    background-color: green;
    color: green;
}

#text {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}